<a href="https://colab.research.google.com/github/Cepeda-R/PythonTraining/blob/main/TrainingWebScrapping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## WebScrapping

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
from datetime import date
from pandas import datetime
%matplotlib inline
%config IPCompleter.greedy=True

import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff

from scipy.stats import shapiro
import statsmodels.api as sm 
import pylab as py 

import warnings
warnings.filterwarnings("ignore")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  import sys

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
url = "https://en.wikipedia.org/wiki/Census_geographic_units_of_Canada#Census_metropolitan_areas"
req = requests.get(url)
soup = BeautifulSoup(req.text, "html.parser")
print(soup.title)

<title>Census geographic units of Canada - Wikipedia</title>

In [ ]:
#To remove all links from website
#for link in soup.find_all('a'):
#    print(link.get('href'))

In [ ]:
# Verifying tables and their classes
print('Classes of each table:') 
for table in soup.find_all('table'):
    print(table.get('class'))

Classes of each table:
['wikitable', 'sortable']
['nowraplinks', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner']
['nowraplinks', 'hlist', 'mw-collapsible', 'mw-collapsed', 'navbox-inner']
['nowraplinks', 'hlist', 'mw-collapsible', 'autocollapse', 'navbox-inner']

In [ ]:
# Creating list with all tables
tables = soup.find_all('table')

#  Looking for the table with the classes 'wikitable' and 'sortable'
table = soup.find('table', class_='wikitable sortable')

In [ ]:
#direct way
chosentable = pd.read_html(url, attrs = {'class': 'wikitable sortable'},  flavor='bs4', thousands ='.')
#list to dataframe
df = pd.DataFrame(chosentable[0])

# Try another one

In [ ]:
import requests
from bs4 import BeautifulSoup

In [ ]:
url = "https://gol.gg/tournament/tournament-stats/World%20Championship%202022/"
req = requests.get(url)
soup = BeautifulSoup(req.text, "html.parser")
print(soup.title)

<title>World Championship 2022 stats - Games of Legends</title>

In [ ]:
table = soup.find_all('table')
population_df = pd.read_html(str(table))[7]
population_df.head()

  Unnamed: 0  Pentakill  Quadra  Triple  Double
0   Gumayusi          0       2       3      12
1       Zeka          0       1       4      10
2      Ruler          0       1       2       8
3     Pyosik          0       1       0       4
4      Chovy          0       0       4       5

# Try PDF File

In [ ]:
!pip install tabula-py

In [ ]:
from tabula.io import read_pdf
#fazer import do ficheiro para o colab (FICHEIROS - Left side)
table = read_pdf("GembaForecast.pdf", pages=2)

In [ ]:
table_etl = pd.DataFrame(table[0])
table_etl = table_etl[table_etl['PROCESSO'].notna()]

In [ ]:
table_etl.columns

Index(['PROCESSO', 'Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'REALS - SURFACE MOUNT TECHNOLOGY'],
      dtype='object')

In [ ]:
SMT_Data = table_etl.drop(['Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6',
       'REALS - SURFACE MOUNT TECHNOLOGY'], axis=1)
SMT_Data.columns = SMT_Data.iloc[1]
SMT_Data = SMT_Data.iloc[3:, :]
SMT_Data